<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TP2</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    </head>
    <body>
      <div class="container">
        <div class="card-body">
            <h1 class="text-center">SISTEMA DE RESERVAS</h1>
            <br>
            <p class="text-center">Confirma que desea realizar la reserva?</p>
            <br>
            <div class="col-md-6 offset-md-3">
                <a href="/api/reserva/add/" class="btn btn-dark btn-block">Si</a>
                <a href="/api/reserva/listarMesas/" class="btn btn-dark btn-block">No</a>
            </div>
        </div>
      </div>
    </body>
</html>