<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TP2</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    </head>
    <body>
      <div class="container align-items-center">
        <div class="card-body">
            <h1 class="text-center">SISTEMA DE RESERVAS</h1>
            <br>
            <p class="text-center">Gracias por utilizar el servicio!</p>
            <br><br>
            <div class="col-md-6 offset-md-3">
                <a href="/api/reserva/listado/" class="btn btn-dark btn-block">Listado de Reservas</a>
                <a href="/api/reserva/listarMesas/" class="btn btn-dark btn-block">Reservar Mesa</a>
                <a href="/api/consumo/listado/" class="btn btn-dark btn-block">Consumo</a>
            </div>
        </div>
      </div>
      <br><br>

      <br><br>
    </body>
</html>